.l-page {
	padding-block: 8vh;
}

.l-info {
	justify-content: space-between;
	padding-block: 3vw;
	padding-inline: 5vw;
	margin-inline: var(--page-gap-size);
	border-style: solid;
	border-width: 4px;
	border-color: hsl(var(--bdc-header));
	border-radius: var(--bdrs-soft);

	& > .heading {
		& > .logo {
			width: 20vw;
			max-width: 100px;
		}
	}

	& > .score {
		background-color: #fff;
		border-radius: var(--bdrs-soft);
		flex-direction: column;
		width: clamp(4rem, 20vw, 5.5rem);
		height: clamp(4.2rem, 20vw, 5.5rem);

		& > .title {
			color: hsl(var(--c-score));
			font-family: var(--ff-semibold);
		}

		& > .value {
			color: hsl(var(--c-dark));
			font-family: var(--ff-bold);
			font-size: 2rem;
		}
	}
}

.l-match {
	position: relative;
	margin-block: 14vh;

	& > .background {
		width: 40vw;
		height: 65%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	& > .tokens {
		grid-column: full;
		position: relative;
		/* display: grid; */
		/* grid-template-columns: repeat(5, 1fr); */
		/* row-gap: 4vw; */
		grid-row: 1 / -1;
		height: 55vw;

		& > .token {
			position: absolute;
			width: 24vw;
			max-width: 170px;
			aspect-ratio: 1;
			border-radius: var(--bdrs-round);

			&::before {
				content: "";
				width: 75%;
				height: 75%;
				background-color: #fff;
				box-shadow: inset 0px 2px 2px #808080;
				border-radius: var(--bdrs-round);
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			&:nth-of-type(1) {
				/* grid-column: 1 / span 2; */
				/* justify-self: flex-end; */
				background-image: var(--bgi-paper);
				left: 20%;
			}

			&:nth-of-type(2) {
				/* grid-column: span 2 / -1; */
				/* justify-self: flex-start; */
				background-image: var(--bgi-scissors);
				right: 20%;
			}

			&:nth-of-type(3) {
				/* grid-column: 2 / span 3; */
				/* grid-row: 2 / span 1; */
				/* justify-self: center; */
				background-image: var(--bgi-rock);
				bottom: 0%;
				left: 50%;
				transform: translateX(-50%);
			}

			& > .icon {
				height: 40%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
}

.l-rules {
	margin-block-end: 10vh;

	& > .button {
		grid-column: wrapper;
		justify-self: center;
		background: unset;
		border-style: solid;
		border-width: 2px;
		border-color: hsl(var(--bdc-header));
		border-radius: var(--bdrs-soft);
		color: #fff;
		font-family: sans-serif;
		font-weight: lighter;
		text-transform: uppercase;
		letter-spacing: 1px;
		padding-block: 0.5rem;
		padding-inline: 1.7rem;
	}
}

.l-page-footer {
	& > .attribution {
		grid-column: wrapper;
		text-align: center;
		color: #fff;

		& .link {
			color: hsl(var(--c-score));
		}
	}
}
