@import "keyframes.css";

.l-page {
	padding-block: 8vh;
}

.l-info {
	justify-content: space-between;
	padding-block: 3vw;
	padding-inline: 5vw;
	margin-inline: var(--page-gap-size);
	border-style: solid;
	border-width: 4px;
	border-color: hsl(var(--bdc-header));
	border-radius: var(--bdrs-soft);

	& > .heading {
		& > .logo {
			width: min(100px, 20vw);
		}
	}

	& > .score {
		background-color: #fff;
		border-radius: var(--bdrs-soft);
		flex-direction: column;
		width: clamp(4rem, 20vw, 5.5rem);
		height: clamp(4.2rem, 20vw, 5.5rem);

		& > .title {
			color: hsl(var(--c-score));
			font-family: var(--ff-semibold);
		}

		& > .value {
			color: hsl(var(--c-dark));
			font-family: var(--ff-bold);
			font-size: 2rem;
		}
	}
}

.l-match {
	--tokens-height: min(450px, 70vw);

	position: relative;
	margin-block: 14vh;

	& > .background {
		width: min(450px, 55%);
		height: 70%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	& > .tokens {
		grid-column: full;
		position: relative;
		height: var(--tokens-height);

		& > .token {
			position: absolute;
			height: 45%;
			aspect-ratio: 1;

			&:focus-within {
				outline: auto;
			}

			&::before,
			&::after {
				content: "";
				border-radius: var(--bdrs-round);
				position: absolute;
				z-index: -1;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			&::before {
				width: 100%;
				height: 100%;
			}

			&::after {
				width: 75%;
				height: 75%;
				background-color: #fff;
				box-shadow: inset 0px 2px 2px #808080;
			}

			&:nth-of-type(1) {
				transform: translate(calc(45vw - 100%), 0%);

				&::before {
					background-image: var(--bgi-paper);
				}
			}

			&:nth-of-type(2) {
				transform: translate(55vw, 0%);

				&::before {
					background-image: var(--bgi-scissors);
				}
			}

			&:nth-of-type(3) {
				transform: translate(
					calc(50vw - 50%),
					calc(var(--tokens-height) - 100%)
				);

				&::before {
					background-image: var(--bgi-rock);
				}
			}

			& > .icon {
				height: 40%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			& > .button {
				clip: rect(0, 0, 0, 0);
			}
		}
	}

	& > .label {
		opacity: 0;
		width: calc(var(--tokens-height) * 0.45);
		color: #fff;
		font-family: var(--ff-bold);
		font-size: 1.5rem;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 1px;
		position: absolute;

		&.user {
			transform: translate(
				calc(45vw - 100%),
				calc(var(--tokens-height) * 0.45 + 2rem)
			);
		}

		&.house {
			transform: translate(
				calc(55vw),
				calc(var(--tokens-height) * 0.45 + 2rem)
			);
		}
	}
}

.l-rules {
	margin-block-end: 10vh;

	& > .button {
		background: unset;
		grid-column: wrapper;
		justify-self: center;
		border-style: solid;
		border-width: 2px;
		border-color: hsl(var(--bdc-header));
		border-radius: var(--bdrs-soft);
		color: #fff;
		font-family: sans-serif;
		font-weight: lighter;
		text-transform: uppercase;
		letter-spacing: 1px;
		padding-block: 0.5rem;
		padding-inline: 1.7rem;
	}
}

.l-page-footer {
	& > .attribution {
		grid-column: wrapper;
		text-align: center;
		color: #fff;

		& .link {
			color: hsl(var(--c-score));
		}
	}
}

/* State Rules */
.l-match.is-dueling {
	& > .background {
		display: none;
	}

	& > .tokens {
		& > .token {
			&.user {
				&:nth-of-type(2),
				&:nth-of-type(3) {
					@media (--prm-no-preference) {
						animation-name: move-user-token;
						animation-fill-mode: forwards;
						animation-duration: 1s;
					}
				}
			}

			&.house {
				&,
				&::before,
				&::after {
					animation-fill-mode: forwards;
				}

				&::before {
					animation-name: reveal-house-token-border;

					@media (--prm-no-preference) {
						animation-duration: 4s;
					}
				}

				&::after {
					animation-name: update-house-token-background;

					@media (--prm-no-preference) {
						animation-duration: 4s;
					}
				}

				&:nth-of-type(1),
				&:nth-of-type(3) {
					animation-name: move-house-token;

					@media (--prm-no-preference) {
						animation-duration: 1s;
					}
				}

				& > .icon {
					animation-name: reveal-house-token-icon;

					@media (--prm-no-preference) {
						animation-duration: 5s;
					}
				}
			}

			&.hidden {
				display: none;
			}
		}
	}

	& > .label {
		animation-fill-mode: forwards;

		&.user {
			animation-name: reveal-user-token-label;

			@media (--prm-no-preference) {
				animation-duration: 2s;
			}
		}

		&.house {
			animation-name: reveal-house-token-label;

			@media (--prm-no-preference) {
				animation-duration: 4s;
			}
		}
	}
}
