.l-page {
	min-height: 100vh;
	background-image: var(--bgi-page);
}

.info,
.match,
.rules {
	grid-column: wrapper;
}

.attribution {
	grid-column: wrapper;
	text-align: center;
}

.attribution-link {
	color: hsl(228, 45%, 44%);
}
