@font-face {
	font-family: "Barlow Semi Condensed Semi Bold";
	src: url("/fonts/BarlowSemiCondensed-SemiBold.ttf");
}

@font-face {
	font-family: "Barlow Semi Condensed Bold";
	src: url("/fonts/BarlowSemiCondensed-Bold.ttf");
}

:root {
	--c-dark: hsl(229, 25%, 31%);
	--c-score: hsl(229, 64%, 46%);

	--ff-semibold: "Barlow Semi Condensed Semi Bold", sans-serif;
	--ff-bold: "Barlow Semi Condensed Bold", sans-serif;

	--bgi-page: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
	--bgi-scissors: radial-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
	--bgi-paper: radial-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
	--bgi-rock: radial-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));

	--bdc-header: hsl(217, 16%, 45%);

	--bdrs-soft: 5px;

	--page-gap-size: 8vw;
}

body {
	background-image: var(--bgi-page);
}
