@keyframes move-user-scissors-token {
	to {
		left: 45%;
		transform: translate(-100%, 0%);
	}
}

@keyframes move-user-rock-token {
	to {
		top: 0%;
		left: 45%;
		transform: translate(-100%, 0%);
	}
}

@keyframes move-cpu-paper-token {
	to {
		left: 55%;
		transform: unset;
	}
}

@keyframes move-cpu-rock-token {
	to {
		top: 0%;
		left: 55%;
		transform: unset;
	}
}
