@keyframes move-user-token {
	100% {
		transform: translate(calc(45vw - 100%), 0%);
	}
}

@keyframes move-house-token {
	100% {
		transform: translate(55vw, 0%);
	}
}

@keyframes reset-move-token-1 {
	100% {
		transform: translate(calc(45vw - 100%), 0%);
	}
}

@keyframes reset-move-token-2 {
	100% {
		transform: translate(55vw, 0%);
	}
}

@keyframes reset-move-token-3 {
	100% {
		transform: translate(
			calc(50vw - 50%),
			calc(var(--tokens-container-height) - 100%)
		);
	}
}

@keyframes hide-house-token {
	50% {
		transform: translate(-50%, 101%);
	}

	100% {
		transform: translate(-50%, -50%);
	}
}

@keyframes hide-hidden-token {
	50% {
		visibility: hidden;
		transform: translate(-50%, 101%);
	}

	100% {
		visibility: hidden;
		transform: translate(-50%, -50%);
	}
}

@keyframes reveal-user-token-label {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes reveal-house-token-label {
	0% {
		opacity: 0;
	}

	70% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes reveal-house-token-icon {
	25% {
		opacity: 0;
	}

	90% {
		opacity: 0;
	}

	100% {
		opacity: 100%;
	}
}

@keyframes tween-house-token-background {
	0% {
		transform: translate(-50%, -50%) scale(0.75);
	}

	70% {
		transform: translate(-50%, -50%) scale(0.75);
		background-image: none;
		background-color: hsl(var(--bgc-loadingToken));
	}

	100% {
		transform: translate(-50%, -50%) scale(1);
		background-image: var(--house-token-background);
		background-color: unset;
	}
}
